<!DOCTYPE html>
<html>
  <head>
    <title>AirOpenGym</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/hot-sneaks/jquery-ui.css">

  </head>


    <%= render 'shared/navbar' %>
    <%= render 'shared/messages' %>

    <div class="container">
      <%= yield %>
    </div>

  <body>
  </body>
</html>
